<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h2><%= @cocktail.name %></h2>

      <p><%= link_to "delete", cocktail_path, method: :delete,
            data: { confirm: "Are you sure?" }, class:"btn btn-danger"%></p>


      <!-- <h5><%= link_to "New Dose", new_cocktail_dose_path(@cocktail)  %></h5> -->


      <h3>Doses:</h3>
      <div>
        <% @cocktail.doses.each do |dose|  %>
        <h6>description: <%= dose.description %></h6>
        <h6>ingredient: <%= dose.ingredient.name %></h6>
        <%= link_to  "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-warning" %><hr>
        <% end %>
      </div>
      <%= render "doses/form_doses", dose:Dose.new %>
      <%= link_to "New Ingredient", new_ingredient_path  %>
    </div>
  </div>
</div>
